.grid__row {
  font-size: 0; }

.grid__col--1 {
  display: inline-block;
  width: 8.33333%;
  font-size: 1.6rem; }

.grid__col--2 {
  display: inline-block;
  width: 16.66667%;
  font-size: 1.6rem; }

.grid__col--3 {
  display: inline-block;
  width: 25%;
  font-size: 1.6rem; }

.grid__col--4 {
  display: inline-block;
  width: 33.33333%;
  font-size: 1.6rem; }

.grid__col--5 {
  display: inline-block;
  width: 41.66667%;
  font-size: 1.6rem; }

.grid__col--6 {
  display: inline-block;
  width: 50%;
  font-size: 1.6rem; }

.grid__col--7 {
  display: inline-block;
  width: 58.33333%;
  font-size: 1.6rem; }

.grid__col--8 {
  display: inline-block;
  width: 66.66667%;
  font-size: 1.6rem; }

.grid__col--9 {
  display: inline-block;
  width: 75%;
  font-size: 1.6rem; }

.grid__col--10 {
  display: inline-block;
  width: 83.33333%;
  font-size: 1.6rem; }

.grid__col--11 {
  display: inline-block;
  width: 91.66667%;
  font-size: 1.6rem; }

.grid__col--12 {
  display: inline-block;
  width: 100%;
  font-size: 1.6rem; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Helvetica", sans-serif;
  font-size: 4rem; }

.submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  border: none;
  -webkit-outline: none;
  -moz-outline: none;
  -ms-outline: none;
  outline: none;
  background-color: steelblue;
  border-radius: 1rem;
  color: white;
  display: block;
  font-size: 4rem;
  font-weight: 600;
  padding: 2rem;
  padding-left: 1rem;
  width: 100%; }

.TFP__logo--header {
  display: block;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center; }

.home--intro {
  font-size: 4rem;
  padding-bottom: 1rem; }

.landing--link {
  background-color: #4fba6f;
  border-radius: 1rem;
  color: white;
  display: block;
  font-size: 5rem;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 2rem;
  padding-left: 3rem;
  text-decoration: none;
  width: 100%; }

.landing--heading {
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.input--hidden {
  display: none; }

.label__form--hidden {
  display: none; }

.createRouteLabel__input {
  display: block;
  font-size: 4rem;
  margin-bottom: 2rem;
  width: 100%; }

.hidden__label {
  position: absolute;
  left: -10000px; }

.form--error {
  border: 2px solid red; }

.input--error {
  color: red; }

.hide--error {
  display: none; }

.wrapper {
  margin: 0 auto;
  width: 90%; }

.height__input {
  display: block;
  font-size: 4rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  width: 100%; }

.heightInput--error {
  border: 2px solid red; }

.startCreate--warning {
  color: black;
  font-size: 5rem;
  margin: 0 auto;
  margin-top: 5rem;
  padding-left: 2rem;
  width: 100%; }

.startCreate--button {
  background-color: green;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 2rem;
  text-align: center;
  width: 100%; }

.startRecord--back {
  background-color: #ebebeb;
  border-radius: 0.25rem;
  color: black;
  padding: 1rem;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 2rem;
  left: 2rem; }

.routeInformation {
  border-radius: 1rem;
  color: #c8c8c8;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center; }

.routeInformation--middle {
  padding: 3rem; }

.nav--command {
  font-size: 15rem;
  text-align: center; }

.nav--progress {
  font-size: 7rem;
  text-align: center; }

.modal--show {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85); }

.modal--hide {
  display: none; }

.startNavigation--warning {
  color: black;
  font-size: 5rem;
  margin: 0 auto;
  margin-top: 5rem;
  padding-left: 2rem;
  width: 100%; }

.startNavigation--button {
  background-color: green;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 2rem;
  text-align: center;
  width: 100%; }

.startNavigation--back {
  background-color: #ebebeb;
  border-radius: 0.25rem;
  color: black;
  padding: 1rem;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 2rem;
  left: 2rem; }

.routeInformation {
  border-radius: 1rem;
  color: #c8c8c8;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center; }

.routeInformation--middle {
  padding: 3rem; }

.routes--heading {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  text-align: center; }

.route__link {
  background-color: #4fba6f;
  border-radius: 0.5rem;
  color: black;
  display: block;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-left: 2rem;
  text-decoration: none; }

.route__link--error {
  background-color: #c03a2b;
  border-radius: 0.5rem;
  color: black;
  display: block;
  margin-bottom: 1rem;
  padding: 1rem;
  text-decoration: none; }

.routesList {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=main.css.map */
