// all routes
.routes--heading
  margin: 0
  margin-bottom: 1rem
  padding: 0
  text-align: center

.route__link
  background-color: $green--success
  border-radius: 0.5rem
  color: rgb(0,0,0)
  display: block
  margin-bottom: 1rem
  padding: 1rem
  padding-left: 2rem
  text-decoration: none

.route__link--error
  background-color: $red--error
  border-radius: 0.5rem
  color: rgb(0,0,0)
  display: block
  margin-bottom: 1rem
  padding: 1rem
  text-decoration: none

.routesList
  margin: 0
  padding: 0
